
    <div class="col-md-12 mt-3">
      <a href="#" class="btn btn-success float-right" onclick="userProfileModal('new')"
        >Add User</a
      >
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Enrolled Trainings</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% 
          let i=1;
          users.forEach((user)=>{
             %>
          <tr>
            <td scope="col"><%=i++ -%></td>
            <td scope="col"><%=user.name%></td>
            <td scope="col"><%=user.email%></td>
            <td scope="col"><%=user.role%></td>
            <td scope="col">Enrolled Trainings</td>
            <td scope="col">
              <a
                href="#"
                onclick="userProfileModal('<%=user._id%>')"
                class="btn btn-success"
                >Edit</a
              >
              <a
                href="#"
                onclick="userDelete('<%=user._id%>')"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
    </div>
 

